* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: rgba(0, 0, 0, 0.05)
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

:root {
  --gap: 24px;
  --gap-01: 12px;
  --gap-02: 6px;

  --border-radius: 10px;
  --radius: 5px;

  --primary-color-y: #FFCE33;
  --primary-color-y10: #FFFAEB;
  --primary-color-r: #FF4C33;
  --white: #fff;

  --font-color-1: #1b1b1b;
  --font-color-2: #303030;

  --gray-01: #FFFFFF;
  --gray-02: #F1F1F3;
  --gray-03: #E4E4E7;
  --gray-04: #D7D7DB;
  --gray-05: #C9C9CF;
  --gray-06: #AFAFB6;
  --gray-07: #94949E;
  --gray-08: #797986;
  --gray-09: #61616B;
  --gray-10: #494950;
  --gray-11: #303036;
  --gray-12: #18191B;

  --font-size-xxl: 40px;
  --font-size-xl: 36px;
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xs: 16px;
  --font-size-xxs: 14px;
  --font-size-xxx: 12px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}